#trifecta-instagram-main-wrapper {
    width: 100%;
    background-color: #3b5998;
    position: relative;
    height: 600px;

}

#trifecta-instagram-holder-default {

    height: 540px;
    overflow: hidden;
    padding: 40px 30px 0;

}

.tirfecta-instagram-item-wrapper {
    width: 48%;
    margin-right: 2%;
    float: left;
    margin-bottom: 10px;
    position: relative;

}


.instagram-overlay {

    color: #fff;
    opacity: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 20%;
    text-align: center;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

ul.instagram-count-like {
    width: 100%;

}

ul.instagram-count-like li {
    float: left;
    list-style-type: none;
    width: 50%;

}

.tirfecta-instagram-item-wrapper:hover .instagram-overlay {

    opacity: 1;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
}

#instagram-scroll-holder {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 10px;
    font-size: 50px

}

#instagram-scroll-holder a {
    text-decoration: none;
    color: #fff;
    width: 40%;
    padding: 0;
    display: inline-block;
    box-shadow: none;
    border: none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#trifecta-instagram-main-wrapper .center{
    text-align: center;
    color: #fff;
    font-size: 30px;
}