#main-facbook-wrapper{
    width: 100%;
    background-color:#3b5998 ;

    position: relative;
}
#triefecta-facebook-holder-default{
    padding: 5px 40px;
    height: 500px;


}

.fb-message-wrapper-default{    

    border-bottom: 1px solid white;
    margin:10px 0 ;
}
.fb-message-wrapper-default p{
    margin-bottom: 10px;

}

.fb-message-wrapper-default:last-child{
    border-bottom: none;
}
#facebook-scroll-holder{
    position: absolute;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 10px;
    font-size: 50px

}
#facebook-scroll-holder a{
    border: none;
    text-decoration: none;
   color: #fff;
    width: 40%;
    padding: 0;
    display: inline-block;
    box-shadow: none
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


#main-facbook-wrapper .center{
    text-align: center;
    color: #fff;
    font-size: 30px;
}