#smt-twitter-main-wrapper {
    padding: 10px;
    height: 600px;
    overflow-y: scroll;

}



.smt-twitter-message-wrapper a {
    color: #00A5C8;
}

.smt-user-profile-img-wrapper {
    float: left;
    width: 9%;
    margin-right: 1%;
}

.smt-user-profile-img-wrapper img {
    border-radius: 50%;
}

.smt-twitter-description-wrapper {
    width: 90%;
    float: left;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.smt-twitter-item-wrapper {
    padding: 10px;
    border-bottom: 1px solid white;
    background-color: #0084B4;
    margin-bottom: 15px;
    border-radius: 20px;

}

.smt-twitter-item-wrapper:last-child {
    margin-bottom: 0;
}

.smt-twitter-item-wrapper.retweet {
    background-color: #19cf86;;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#smt-twitter-main-wrapper .center {
    text-align: center;
    color: #0084B4;
    font-size: 30px;
}